{
  "idleState" : {
    "default" : {
      "default" : []
    }
  },
  
  "sexState" : {
    "default" : {
      "default" : [
        "Oww.. Rough my ass up! Show it who's boss!",
        "Faster baby! I'm about to cum!",
        "Oh! Yeahhh.. My pussy is tightening up!"
      ]
    }
  },
  
  "climaxState" : {
    "default" : {
      "default" : [
        "Mmm.. Yesss.. Cum on me baby!"
      ]
    }
  },
  
  "exitState" : {}
}