{
  "position-1" : {
    "default" : {
      "default" : [
        "Yesss... Slam this big booty and don't stop!",
        "Mmm! I don't know what has come over myself! I can't resist having sex!",
        "Oh, yeahhh... Punish and slam my booty all you want, baby!"
      ]
    }
    
    /*"novakid" : {
      "apex" : [
        "Oh! Yesss.. slam my big ape booty with your heated body!"
      ],
      
      "glitch" : [
        "Mmm.. I can feel the radiating heat from your body warming up my circuits!"
      ]
    }*/
  },
  
  "climax" : {
    "default" : {
      "default" : [
        "Oh! Your cum is going all over the place! It's so warm inside of me. ^_^"
      ]
    }
  }
}