{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/sexbound/sexuiheader.png",
      "fileBody" : "/interface/sexbound/sexuibackground.png",
      "fileFooter" : "/interface/sexbound/sexuifooter.png"
    },
    
    "viewScreen" : {
      "zLevel" : 1,
      "type" : "image",
      "position" : [243, 80],
      "centered" : false,
      "file" : "/interface/sexbound/sexuiviewscreen.png"
    },
    
    "povCanvas" : {
      "zLevel" : 2,
      "type" : "canvas",
      "rect" : [243, 80, 393, 230],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    
    "close" : {
      "type" : "button",
      "base" : "/interface/sexbound/x.png",
      "hover" : "/interface/sexbound/xhover.png",
      "pressed" : "/interface/sexbound/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [383, 232]
    },
    
    "windowtitle" : {
      "type" : "title",
      "title" : "SEXBOUND UI",
      "subtitle" : "",
      "position" : [7, 234]
    },
    
    "progressClimax" : {
      "zLevel" : 1,
      "type" : "image",
      "position" : [303, 65],
      "centered" : false,
      "file" : "/interface/sexbound/sexuiprogress.png"
    },
    
    "btnCum" : {
      "type" : "button",
      "visible" : false,
      "base" : "/interface/sexbound/sexuicumbutton.png",
      "hover" : "/interface/sexbound/sexuicumbutton.png",
      "pressed" : "/interface/sexbound/sexuicumbutton.png",
      "pressedOffset" : [0, 0],
      "position" : [303, 65],
      "callback" : "doClimax"
    },
    
    "sextoySlot1" : {
      "zLevel" : 1,
      "type" : "layout",
      "position" : [7, 67],
      "layoutType" : "basic",
      "size" : [103, 65],
      "visible" : false,
      "children" : {
        "btnTogglePrevSlot1SexToy" : {
          "type" : "button",
          "base" : "/interface/sexbound/arrow_left_base.png",
          "hover" : "/interface/sexbound/arrow_left_hover.png",
          "pressed" : "/interface/sexbound/arrow_left_pressed.png",
          "pressedOffset" : [0, 0],
          "position" : [0, 0],
          "callback" : "prevSlot1"
        },
      
        "btnToggleNextSlot1SexToy" : {
          "type" : "button",
          "base" : "/interface/sexbound/arrow_right_base.png",
          "hover" : "/interface/sexbound/arrow_right_hover.png",
          "pressed" : "/interface/sexbound/arrow_right_pressed.png",
          "pressedOffset" : [0, 0],
          "position" : [81, 0],
          "callback" : "nextSlot1"
        },
        
        "labelSlot1" : {
          "type" : "label",
          "position" : [44.5, 2],
          "hAnchor" : "mid",
          "vAnchor" : "bottom",
          "wrapWidth" : 75,
          "centered" : true,
          "color" : "#ffffff",
          "fontSize" : 10,
          "value" : ""
        },
        
        "label" : {
          "type" : "label",
          "position" : [44.5, 17],
          "hAnchor" : "mid",
          "vAnchor" : "bottom",
          "centered" : true,
          "color" : "#ffffff",
          "fontSize" : 10,
          "value" : "Sex Toys"
        }
      }
    },
    
    "portraitCanvas" : {
      "zlevel" : 2,
      "type" : "canvas",
      "rect" : [7, 7, 53, 55],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },
    
    "sexDialog" : {
      "type" : "layout",
      "visible" : true,
      "layoutType" : "basic",
      "position" : [7, 7],
      "size" : [392, 56],
      "zLevel" : 1,
      "children" : {
        "portraitBackground" : {
          "zLevel" : -1,
          "type" : "image",
          "position" : [0, 0],
          "centered" : false,
          "file" : "/interface/sexbound/portraitBackground.png"
        },
        
        "text" : {
          "type" : "label",
          "position" : [50, 42],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "wrapWidth" : 332,
          "centered" : false,
          "color" : "#ffffff",
          "fontSize" : 10,
          "value" : ""
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "doClimax",
    "nextSlot1",
    "prevSlot1"
  ],
  
  "scripts" : [
    "/interface/sexbound/sexui.lua"
  ],
  "scriptDelta" : 2
}