{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/sexbound/sexuiheader.png",
      "fileBody" : "/interface/sexbound/sexuibackground.png",
      "fileFooter" : "/interface/sexbound/sexuifooter.png"
    },
    
    "viewScreen" : {
      "zLevel" : 1,
      "type" : "image",
      "position" : [243, 80],
      "centered" : false,
      "file" : "/interface/sexbound/sexuiviewscreen.png"
    },
    
    "povCanvas" : {
      "zLevel" : 2,
      "type" : "canvas",
      "rect" : [243, 80, 393, 230],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    },
    
    "close" : {
      "type" : "button",
      "base" : "/interface/sexbound/x.png",
      "hover" : "/interface/sexbound/xhover.png",
      "pressed" : "/interface/sexbound/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [383, 232]
    },
    
    "progressClimax" : {
      "zLevel" : 1,
      "type" : "image",
      "position" : [303, 65],
      "centered" : false,
      "file" : "/interface/sexbound/sexuiprogress.png"
    },
    
    "btnCum" : {
      "type" : "button",
      "visible" : false,
      "base" : "/interface/sexbound/sexuicumbutton.png",
      "hover" : "/interface/sexbound/sexuicumbutton.png",
      "pressed" : "/interface/sexbound/sexuicumbutton.png",
      "pressedOffset" : [0, 0],
      "position" : [303, 65],
      "callback" : "doClimax"
    },
    
    "portraitCanvas" : {
      "zlevel" : 2,
      "type" : "canvas",
      "rect" : [7, 7, 53, 55],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },
    
    "sexDialog" : {
      "type" : "layout",
      "visible" : true,
      "layoutType" : "basic",
      "position" : [7, 7],
      "size" : [392, 56],
      "zLevel" : 1,
      "children" : {
        "portraitBackground" : {
          "type" : "image",
          "position" : [0, 0],
          "centered" : false,
          "file" : "/interface/sexbound/portraitBackground.png"
        },
        
        "text" : {
          "type" : "label",
          "position" : [50, 42],
          "hAnchor" : "left",
          "vAnchor" : "top",
          "wrapWidth" : 332,
          "centered" : false,
          "color" : "#ffffff",
          "fontSize" : 10,
          "value" : ""
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "doClimax"
  ],
  
  "scripts" : [
    "/interface/sexbound/sexui.lua"
  ],
  "scriptDelta" : 2
}