{
  /* Controls the emote module */
  "emote" : {
    /* Emotes are disabled by default. Enable them by setting this value to 'true'. No quotes. */
    "enabled" : false,
    
    /* You must define emotes in your entities animator before creating your own sequence. */
    "sequence" : [
      "emotehappy"
    ]
  },

  /* Controls the moan module */
  "moan" : {
    /* Moaning is disabled by default. Enable it by setting this value to 'true'. No quotes. */
    "enabled" : false,
  
    /* 
      The default gender is female, but you may specify your own gender.
      If you want the entity to emit male moans then specify 'male'.
      If you want the entity to emit female moans then specify 'female'.
    */
    "gender" : "female",
  
    /*
      Affects the pitch of the moaning. Lower values will yield a lower sounding moan.
      Higher values will yield a higher sounding moan. Can be a range [n1, n2]. Ex. [1.0, 1.2]
    */
    "pitch" : 1.0
  },
  
  "music" : {
    "enabled" : true,
    "tracks" : [
      "/music/sexbound/another_bass_0.ogg",
      "/music/sexbound/at_the_other_end_on_the_party.ogg",
      "/music/sexbound/chocolate_addiction.ogg"
    ],
    "fadeInTime" : 2.0,
    "fadeOutTime" : 2.0
  },
  
  /* Controls the portrait module */
  "portrait" : {
    "custom" : {
      "image" : "/interface/chatbubbles/sexbound/default.png",
      "frames" : 2,
      "cycle"  : 1
    }
  },
  
  /* Controls the interaction when in certain animation states. */
  "position" : [
    {
      "name" : "Default",
      "allowClimax" : true,
      "allowMoan"   : true,
      "allowEmote"  : true,
      "animationState" : "mainloop",
      "climaxAnimationState" : "climax",
      "minTempo" : 1,
      "maxTempo" : [2, 3],
      "sustainedInterval" : [20, 30]
    }
  ],
  
  /* Controls the Point of View (PoV) module. Used by the Sex UI module. */
  "pov" : {
    /* PoV is disabled by default. Enable it by setting this value to 'true'. No quotes. */
    "enabled" : false,
  
    "matchPlayerGender" : false,
  
    "states" : {
      "default" : {
        "image"  : "/interface/sexbound/pov/default.png:default",
        "frames" : 1,
        "cycle"  : 1
      }
    }
  },
  
  /* Controls the pregnant module */
  "pregnant" : {
    /* Pregnancy is disabled by default. Enable it by setting this value to 'true'. No quotes. */
    "enabled" : false,
  
    /* Affects the chance to become pregnant for this entity (75% chance) */
    "fertility" : 0.75,
  
    /* Three trimesters in a pregnancy */
    "trimesterCount" : 3,
  
    /* Each trimester lasts 2 - 3 days */
    "trimesterLength" : [2, 3]
  },
  
  /* Controls the Main Module, Sex */
  "sex" : {
    /* The amount of climax points that the player begins with. */
    "minClimaxPoints" : 0,
    
    /* The maximum amount of climax points that the player may earn at one time. */
    "maxClimaxPoints" : 100,
    
    /* The required threshold that the player must reach to release their cum. */
    "climaxThreshold" : 100,
    
    /* When autoClimax is true then the player will automatically cum when the climax threshold is reach. */
    "autoClimax"      : true,
    
    /* When autoMoan is true then the entity will automatically emit moan sounds while in the mainloop. */
    "autoMoan"        : true,
    
    /* When autoRestart is set to true then the entity will restart in the sex state instead of idle state. */
    "autoRestart"     : false,
    
    /* The emote cooldown controls how often this entity emits an emote from the emote sequence. */
    "emoteCooldown" : [5, 10],
    
    /* The moan cooldown controls how often this entity emits a moan sound effect.*/
    "moanCooldown"  : [5, 10],
    
    /* Default gender to fallback on when the player's gender is not supported. */
    "defaultPlayerGender"  : "male",
    
    /* Default species to fallback on when the player's species is not supported. */
    "defaultPlayerSpecies" : "human",
    
    /* Supports female and male genders by default. */
    "supportedPlayerGenders"  : ["female", "male"],
    
    /* Supports all vanilla species by default. */
    "supportedPlayerSpecies" : ["apex", "avian", "floran", "glitch", "human", "hylotl", "novakid"],
    
    /* The talk cooldown controls how often this entity speaks its next dialog. */
    "talkCooldown"  : 30,
    
    /*
      climaxPause is the amount of time that this entity's state machine waits before exiting the climaxState state.
    */
    "climaxPause" : 5,
    
    /*
      resetPause is the amount of time that this entity's state machine waits before exiting the resetState state.
    */
    "resetPause" : 0
  },
  
  /* Controls the sextalk module */
  "sextalk" : {
    /* Sextalk is disabled by default. Enable it by setting this value to 'true'. No quotes. */
    "enabled": false,
    
    /* You must specify a file which contains the dialog to be used. */
    "dialog" : "/dialog/sexbound/default.config",
    
    /* Currently, there is only one mode 'random'. */
    "mode"   : "random",
    
    /* You must specify the method to use when the object talks. 'chatbubble' is default. You may also choose
      'chatbubblePortrait', or 'sexui'. If you choose 'sexui' then you must enable the sexui module too. */
    "method" : "chatbubble",
    
    "trigger" : "statemachine"
  },
  
  "sextoy" : {
    /* Sextoys is disabled by default. Enable it by setting this value to 'true'. No quotes. */
    "enabled" : false,

    "slot1" : []
  },
  
  "sexui" : {
    /* Sextalk is disabled by default. Enable it by setting this value to 'true'. No quotes. */
    "enabled" : false
  }
}