{
  "emote" : {
    "enabled" : false,
    "sequence" : [
      "emotehappy"
    ]
  },

  "moan" : {
    "enabled" : false,
  
    "gender" : "female",
  
    /* Affects the pitch of the moaning. Can be range [n1, n2] */
    "pitch" : 1.0
  },
  
  "portrait" : {
    "custom" : {
      "image" : "/interface/chatbubbles/sexbound/default.png:default",
      "frames" : 2,
      "cycle"  : 1
    }
  },
  
  "pov" : {
    "enabled" : false,
  
    "states" : {
      "default" : {
        "image"  : "/interface/sexbound/pov/default.png:default",
        "frames" : 1,
        "cycle"  : 1
      }
    }
  },
  
  "pregnant" : {
    "enabled" : false,
  
    /* Affects the chance to become pregnant for this entity (75% chance) */
    "fertility" : 0.75,
  
    /* Three trimesters in a pregnancy */
    "trimesterCount" : 3,
  
    /* Each trimester lasts 2 - 3 days */
    "trimesterLength" : [2, 3]
  },
  
  "sex" : {
    "minClimaxPoints" : 0,
    "maxClimaxPoints" : 100,
    "climaxThreshold" : 100,
    
    "autoClimax"      : true,
    "autoRestart"     : false,
    
    "emoteCooldown" : [5, 10],
    
    "moanCooldown"  : [5, 10],
    
    "talkCooldown"  : 30,
    
    "minTempo" : 1,
    "maxTempo" : 1,
    "sustainedInterval" : 1,
    
    "climaxPause" : 10
  },
  
  "sextalk" : {
    "enabled": false,
    "dialog" : "/dialog/sexbound/default.config",
    "mode"   : "random",
    "method" : "chatbubble"
  },
  
  "sexui" : {
    "enabled" : false
  }
}