{
  "position1" : {
    "default" : {
      "default" : [
        "Your grip on me is so tight! Will you ever allow me to break free?",
        "I don't know what has come over myself! I cannot resist the urge to have sex!",
        "Oww.. My butt is becoming so bruised up from your relentless pounding!",
        "Where is all of this energy coming from? It is as-if I am a sex crazed beast!"
      ]
    }
    
    /*"novakid" : {
      "apex" : [
        "Oh! Yesss.. slam against your favorite ape booty with your warm body!"
      ],
      
      "glitch" : [
        "Mmm.. I can feel the radiating heat from your body warming up my circuits!"
      ]
    }*/
  },
  
  "position2" : {
    "default" : {
      "default" : [
        "Your grip on me is so tight! Will you ever allow me to break free?",
        "I don't know what has come over myself! I cannot resist the urge to have sex!",
        "Oww.. My butt is becoming so bruised up from your relentless pounding!",
        "Where is all of this energy coming from? It is as-if I am a sex crazed beast!"
      ]
    }
  },
  
  "climax" : {
    "default" : {
      "default" : [
        "Oh! Your cum is going all over the place! It's so warm inside of me. ^_^"
      ]
    }
  }
}